:root{
    --scrollbar: #F3AD43;
    --scrollbar-hover: #f3ad439f;
    --scrollbar-active: #ffd9a19f;
    --dark-blue:#181B2C;
    --light1: #FFFFFF;
    --light2: #F1F1F1;
    --light3: #EAEAEA;
    --light4: #AAAAAA;
    --dark1: #000000;
    --dark2: #181B2C;
    --dark3: #323D54;
    --main: #F3AD43;
    --main1-transparent: #f3ad439f;
    --main2: #fef7ec;
    --main2-transparent: #ffe3b73d;
    --main3-transparent: #ffd9a19f;
    
    --error: #ff6505;
    --success: #61ff05;
}