:root{
    --loader-c1: #006364;
    --loader-c2: #00ffff;

    --scrollbar: #293a48; 
    --scrollbar-hover: #2d4252; 
    --scrollbar-active: #009FA2; 

    --light1: #FFFFFF;
    --light2: #F1F1F1;
    --light3: #EAEAEA;
    --light4: #AAAAAA;
    --dark1: #000000;
    --dark2: #181B2C;
    --dark3: #323D54;
    --main: #F3AD43;
    --main2: #fef7ec;
}