.loader {
  top: 40%;
  left: calc(50% - 23px);
  position: absolute;
  -webkit-animation: loader_animation 1.7s infinite ease-in-out;
  animation: loader_animation 1.7s infinite ease-in-out;
}
.loader>img{
  height: 70px;
}
@-webkit-keyframes loader_animation {
  0% { -webkit-transform: perspective(120px) rotateY(0deg) }
  50% { -webkit-transform: perspective(120px) rotateY(1080deg) }
  100% { -webkit-transform: perspective(120px) rotateY(1800deg) }
}
@keyframes loader_animation {
  0% { 
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(0deg)  
  } 50% { 
    transform: perspective(120px) rotateY(-1080deg);
    -webkit-transform: perspective(120px) rotateY(-1080deg)  
  } 100% { 
    transform: perspective(120px) rotateY(-1800deg);
    -webkit-transform: perspective(120px) rotateY(-1800deg);
  }
}
@-webkit-keyframes loader_color_animation {
  0%{color:var(--loader-c1)}
  25%{color:var(--loader-c2)}
  50%{color:var(--loader-c1)}
  75%{color:var(--loader-c2)}
  100%{color:var(--loader-c1)}
}
@keyframes loader_color_animation {
  0%{color:var(--loader-c1)}
  25%{color:var(--loader-c2)}
  50%{color:var(--loader-c1)}
  75%{color:var(--loader-c2)}
  100%{color:var(--loader-c1)}
}