.loader {
  top: 40%;
  left: calc(50% - 40px);
  position: absolute;
  -webkit-animation: loader_animation 1.7s infinite ease-in-out;
  animation: loader_animation 1.7s infinite ease-in-out;
  fill: var(--main);
}
.loader>.svg{
  height: 80px;
}
@-webkit-keyframes loader_animation {
  0%   { -webkit-transform: perspective(120px) rotateY(0deg); fill:var(--main); }
  25%  { fill:var(--main4)}
  50%  { -webkit-transform: perspective(120px) rotateY(1080deg); fill:var(--main); }
  75%  { fill:var(--main4)}
  100% { -webkit-transform: perspective(120px) rotateY(1800deg); fill:var(--main); }
}
@keyframes loader_animation {
  0% { 
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(0deg);
    fill:var(--main);
  }
  25%{fill:var(--main4)}
  50% {
    transform: perspective(120px) rotateY(-1080deg);
    -webkit-transform: perspective(120px) rotateY(-1080deg);
    fill:var(--main);
  }
  75%{fill:var(--main4)}
  100% { 
    transform: perspective(120px) rotateY(-1800deg);
    -webkit-transform: perspective(120px) rotateY(-1800deg);
    fill:var(--main);
  }
}