@media screen and (min-width: 800px) {
    ::-webkit-scrollbar{width:10px;} 
    ::-webkit-scrollbar-thumb{background:var(--scrollbar);}
    ::-webkit-scrollbar-thumb:hover{background:var(--scrollbar-hover);}
    ::-webkit-scrollbar-thumb:active{background:var(--scrollbar-active);}
    ::-webkit-scrollbar:horizontal{height:10px;background:var(--dark-blue);}
    ::-webkit-scrollbar:vertical{height:10px;background:var(--dark-blue);}
}