@media screen and (min-width: 800px) {
    ::-webkit-scrollbar{width:10px;} 
    ::-webkit-scrollbar-thumb{border-radius:5px;background:var(--scrollbar);}
    ::-webkit-scrollbar-thumb:hover{background:var(--scrollbar-hover);}
    ::-webkit-scrollbar-thumb:active{background:var(--scrollbar-active);border-radius:3px;}
    ::-webkit-scrollbar:horizontal{height:10px;border-radius:5px;background:#19222D;}
    ::-webkit-scrollbar:vertical{height:10px;border-radius:5px;background:#19222D;}
}