html, body {
    background-color: var(--light2) !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    color: var(--dark2);
}

@media screen and (min-width: 1050px) { /* PC ONLY */
  footer {display:block !important}
}

@media screen and (max-width: 1050px) { /* MOBILE/TABLET ONLY */
    header>.right {display: none !important;}
    .calendar_container {
        width: calc(100% - 40px) !important;
        padding: 0 !important;
        margin-bottom: 70px !important;
    }
    .container.two-col {
        grid: 400px auto/ 100% !important;
    }
    .container {
        height: 950px !important;
    }

    .right_form {
        width: calc(100% - 250px) !important;
    }

    .profils_grid {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .body>div>div{
        width: calc(100% - 50px) !important;
    }
    .container_title {
        width: calc(100% - 200px) !important;
    }
}

@media screen and (max-width: 600px) { /* MOBILE ONLY */
    header>p {text-align:center !important;width: 100% !important;padding: 0 !important;}
    
    .calendar_container>.calendar>li.title {
        padding-bottom: 0 !important;
    }
    
    .calendar_container>.calendar>li.day {
        margin: 1px 1px !important;
        padding: 12px 0 0 0 !important;
    }

    .right_form {
        width: calc(100% - 60px) !important;
    }

    .profils_grid {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-column-gap: 15px !important;
        grid-row-gap: 15px !important;
    }
}

.body>div>div{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.body{
    margin-bottom: 5%;
}

.body *{
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: var(--dark-blue);
    height: 55px;
    z-index: 10;
    box-shadow: 0px 6px var(--main);
}

header>p {
    margin: 0px;
    line-height: 58px;
    height: 55px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 17px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    color: var(--main);
    display: inline-block;
    -webkit-user-drag: none;
}

.clickable {
    cursor: pointer;
}

.container_title {
  display: block;
  margin-top: 25px;
  margin-bottom: 14px;
  width: calc(100% - 400px);
  font-size: 16px;
  font-weight: 700;
  border-bottom: 5px solid var(--main);
}

.container {
    background-image: url(../images/bg.png);
    background-color: var(--light1);
    margin: 0 25px;
    height: 540px;
}

.container.two-col {
    display: grid;
    grid: auto / 580px auto;
}

.calendar_container {margin: 20px;}

.calendar_container>.title {
    background-color: var(--light2);
    text-align: center;
    padding: 13px;
    font-size: 18px;
}

.calendar_container>.calendar {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    text-align: center;
}

.calendar_container>.calendar>li.title{
    margin: 0 5px;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: solid var(--main) 2px;
    margin-bottom: 5px;
}

.calendar_container>.calendar>li.day{
    margin: 0 5px;
    padding: 12px 0;
    background-color: var(--main2-transparent);
}

.calendar_container>.calendar>li.day.prefer {
    box-shadow: inset 0px 0px 0px 1px var(--main);
}
.calendar_container>.calendar>li.day.today {
    font-weight: bold;
}
.calendar_container>.calendar>li.day.prefer.today{
    box-shadow: inset 0px 0px 0px 1px var(--dark2);
}
.calendar_container>.calendar>li.day.outofmonth {
    color: var(--light4);
}

.right_form {
    margin: 0 auto;
    width: 80%;
    padding-right: 12px;
}

span.required{
    color: var(--main);
    font-size: 20px;
}

.input>.name {
    padding: 9px 0 0 5px;
}

input[type="time"]{
    font-family: "Roboto";
    font-size: 16px;
    padding: 2px 5px;
}

.input>div.select {background-color: var(--light2);}

.input>input, .input>div.select>select {
    width: 100%;
    background-color: var(--light2);
    border: none;
    border-bottom: solid 1px var(--dark3);
    padding: 6px;
    border-radius: 3px 3px 0 0;
    font-size: 13px;
    outline-color: var(--main);
}

.input>div.select>select {background-color:#0000}

.input.small>input {
    width: 40%;
}

.input.required>input,
.input.required>div.select{
  border-bottom: solid 1px var(--main);
}

.input.error>input,
.input.error>div.select{
  border-bottom: solid 1px var(--error);
}

.input.success>input,
.input.success>div.select{
  border-bottom: solid 1px var(--success);
}

.select>select {
  cursor: pointer;
  background-color: #0000;
  width: calc(100% - 28px);
  padding-left: 5px;
  border: none;
  -webkit-appearance: button;
  appearance: button;
}

.select>select>option{
  cursor:pointer;
}

.select>svg {
  margin-bottom: -28px;
  padding: 7px;
  float: right;
  fill: #323D54;
}

.submit_btn {
  width: calc(100% + 12px);
  padding: 9px;
  margin-top: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--main);
  font-weight: 600;
  font-size: 15px;
  color: var(--dark3);
  cursor: pointer;
  outline: none;
}

.submit_btn:hover {background-color: var(--main4);}

.profils_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 25px;
}

@media screen and (min-width: 600px) and (max-width: 1050px){
  .profils_grid>.profil:nth-of-type(1){order:1}
  .profils_grid>.profil:nth-of-type(2){order:4}
  .profils_grid>.profil:nth-of-type(3){order:2}
  .profils_grid>.profil:nth-of-type(4){order:5}
  .profils_grid>.profil:nth-of-type(5){order:3}
  .profils_grid>.profil:nth-of-type(6){order:6}
}

.profils_grid>.profil>.svg {
    width: 100%;
    object-fit: cover;
}

.profils_grid>.profil>.name{
    background-color: var(--light1);
}

.profils_grid>.profil>.name>p {
  margin: 0;
  margin-right: 25px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0;
}

.profils_grid>.profil>.name>.svg{
    fill: var(--dark-blue);
    height: 17px;
    float: left;
    margin: 10px;
}

.profils_grid>.profil>.social{
    background-color: var(--dark-blue);
    height: 40px;
    text-align: center;
}

.profils_grid>.profil>.social>.svg{
    background-color: var(--dark-blue);
    margin: 13px;
    cursor: pointer;
    height: 14px;
    fill: var(--light1);
}

.profils_grid>.profil>.social>.svg:hover{fill:var(--main)}

footer {
    display:none;
    position: fixed;
    bottom: 0;
    background-color: var(--dark-blue);
    padding: 15px 0;
    text-align: center;
    color: var(--light4);
    width: 100%;
}
footer>a {color: var(--main)}