html, body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light2) !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-top: 48px;
}

@media screen and (min-width: 1050px) { /* PC ONLY */
  ::-webkit-scrollbar-button:vertical:decrement{height:86px;background-color:var(--dark-blue);}

}

@media screen and (max-width: 1050px) { /* MOBILE/TABLET ONLY */
    header>.right {display: none !important;}
    header>p {text-align:center !important;width: 100% !important;padding: 0 !important;}
    .calendar_container {
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 70px !important;
    }
    .container.two-col {
        grid: auto / 100% !important;
    }
    .container {
        margin: 0 !important;
        height: auto !important;
    }

    .right_form {
        width: calc(100% - 250px) !important;
    }

    .calendar_container>.calendar>li.day:not(.available):hover{
        background-color: var(--main3-transparent);
        cursor: not-allowed;
    }

    .calendar_container>.calendar>li.day.available:hover{
        background-color: var(--main1-transparent);
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) { /* MOBILE ONLY */
    .calendar_container>.calendar>li.title {
        padding-bottom: 0 !important;
    }
    
    .calendar_container>.calendar>li.day {
        margin: 1px 1px !important;
        padding: 12px 0 0 0 !important;
    }

    .right_form {
        margin: 0 !important;
        width: calc(100% - 13px) !important;
    }
}


.body *{
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: var(--dark-blue);
    height: 86px;
    z-index: 10;
    box-shadow: 0px 10px var(--main);
}

header>p {
    margin: 0px;
    line-height: 85px;
    height: 86px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 20px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    color: var(--main);
    display: inline-block;
    -webkit-user-drag: none;
    user-select: none;
}

.clickable {
    cursor: pointer;
}

.container_title {
  display: block;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 14px;
  width: calc(100% - 50px);
  font-size: 16px;
  font-weight: 700;
  border-bottom: 5px solid var(--main);
}

.container {
    background-image: url(../images/bg.png);
    background-color: var(--light1);
    margin: 0 25px;
    height: 500px;
    padding: 15px;
}

.container.two-col {
    display: grid;
    grid: auto / 620px auto;
}

.calendar_container {
    height: 300px;
    width: 580px;
    padding: 5px;
}

.calendar_container>.title {
    background-color: var(--light2);
    text-align: center;
    padding: 13px;
    font-size: 18px;
}

.calendar_container>.calendar {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    text-align: center;
}

.calendar_container>.calendar>li.title{
    margin: 0 5px;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: solid var(--main) 2px;
    margin-bottom: 5px;
}

.calendar_container>.calendar>li.day{
    margin: 0 5px;
    padding: 12px 0;
    background-color: var(--main2-transparent);
}

.calendar_container>.calendar>li.day.available:active,
.calendar_container>.calendar>li.day.available.selected{
    background-color: var(--main);
}

.calendar_container>.calendar>li.day.prefer {
    box-shadow: inset 0px 0px 0px 1px var(--main);
}
.calendar_container>.calendar>li.day.today {
    font-weight: bold;
    box-shadow: inset 0px 0px 0px 1px var(--dark1);
}
.calendar_container>.calendar>li.day.outofmonth {
    color: var(--light4);
}

.right_form {
    margin: 0 auto;
    width: 300px;
}

.input>.name {
    padding: 9px 0 0 5px;
}

.input>input[type="text"],
.input>div.select {
    width: 100%;
    background-color: var(--light2);
    border: none;
    border-bottom: solid 1px var(--dark3);
    padding: 6px;
    border-radius: 3px 3px 0 0;
    outline: none;
    font-size: 13px;
}

.input.valid>input,
.input.valid>div.select{
  border-bottom: solid 1px var(--main);
}

.select>select {
  cursor: pointer;
  background-color: var(--light2);
  width: calc(100% - 28px);
  padding-left: 5px;
  border: none;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.select>select>option{
  cursor:pointer;
}

.select>svg {
  float: right;
  fill: #323D54;
}

.submit_btn {
  width: calc(100% + 12px);
  padding: 9px;
  margin-top: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--main);
  font-weight: 600;
  font-size: 15px;
  color: var(--dark3);
  cursor: pointer;
  outline: none;
}

.submit_btn:hover {

}

.submit_btn:active {

}

footer {
    background-color: var(--light4);
    padding: 15px 0;
    text-align: center;
    color: white;
    width: 100%;
    box-sizing: border-box;
}
