<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <meta name="author" content="Mathieu Colmon (USP)"/>
        <meta name="description" content="Overwatch team"/>
        <meta name="keywords" content="Semi-Croustillants,semicroustillants,semi,croustillant,croustillants"/>
        
        <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
        <meta name="theme-color" content="#F3AD43">
        <meta name="msapplication-navbutton-color" content="#F3AD43">
        <meta name="apple-mobile-web-app-status-bar-style" content="#F3AD43">
        
        <title>Semi-Croustillants</title>

        <!-- <script>if (location.protocol != 'https:') location.href = 'https:' + window.location.href.substring(window.location.protocol.length);</script>

        <link rel="shortcut icon" href="./favicon.ico"> -->

        <link rel="stylesheet" href="./css/colors.css">
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="stylesheet" href="./css/loading.css">
        <link rel="stylesheet" href="./css/scrollbar.css">
        <link rel="stylesheet" href="./css/styles.css">
    
    </head>

    <body>

        <div class="body" style="display:none">

            <header>
                <p>SEMI-CROUSTILLANTS</p>
            </header>

            <div class="container_title">ASK FOR A SCRIM</div>
            <div id="ask_form" class="container two-col">
                <div class="calendar_container">
                    <div class="title">{{calendar.month}} {{calendar.year}}</div>
                    <ul class="calendar">
                        <li class="title">Mon</li>
                        <li class="title">Tue</li>
                        <li class="title">Wed</li>
                        <li class="title">Thu</li>
                        <li class="title">Fri</li>
                        <li class="title">Sat</li>
                        <li class="title">Sun</li>
                        <li class="day" v-for="day in calendar.days" v-bind:class="{
                            today: day.today,
                            available: day.available,
                            outofmonth: day.outofmonth,
                            prefer: day.prefer,
                            selected: calendar.selected == day.time
                        }" @click="selectDate(day.time)">{{day.date}}</li>
                    </ul>
                </div>
                <div class="right_form">
                    <div class="input" v-bind:class="{ valid: validDiscordID(form.discordID) }" >
                        <div class="name">DISCORD ID</div>
                        <input type="text" v-model="form.discordID" placeholder="Beck#4213">
                    </div>
                    <div class="input" v-bind:class="{ valid: form.team_name.length >= 3 }" >
                        <div class="name">TEAM NAME</div>
                        <input type="text" v-model="form.team_name" placeholder="Les très croustillants">
                    </div>
                    <div class="input" v-bind:class="{ valid: calendar.selected != 0 }" >
                        <div class="name">DATE</div>
                        <input type="text" v-bind:value="calendar.selected | date" disabled>
                    </div>
                    <div class="input" v-bind:class="{ valid: form.time != 'X' }" >
                        <div class="name">TIME</div>
                        <div class="select">
                            <svg viewBox="0 0 33 16" height="13.5"><path d="M51.4,31.4,37,17.1a.82.82,0,1,0-1.3,1l7,11.4L44.072,32,42.8,34.5l-7,11.4a.82.82,0,0,0,1.3,1L51.4,32.6a.8.8,0,0,0,0-1.2Z" transform="translate(47.22 -35.53) rotate(90)"></path></svg>
                            <select v-model="form.time">
                                <option value="X"></option>
                                <option value="9">9:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                                <option value="22">22:00</option>
                                <option value="23">23:00</option>
                                <option value="0">0:00</option>
                                <option value="1">1:00</option>
                                <option value="2">2:00</option>
                                <option value="3">3:00</option>
                                <option value="4">4:00</option>
                                <option value="5">5:00</option>
                                <option value="6">6:00</option>
                                <option value="7">7:00</option>
                                <option value="8">8:00</option>
                            </select>
                        </div>
                    </div>
                    <div class="input" v-bind:class="{ valid: form.control_map != 0 }" >
                        <div class="name">CONTROL MAP</div>
                        <div class="select">
                            <svg viewBox="0 0 33 16" height="13.5"><path d="M51.4,31.4,37,17.1a.82.82,0,1,0-1.3,1l7,11.4L44.072,32,42.8,34.5l-7,11.4a.82.82,0,0,0,1.3,1L51.4,32.6a.8.8,0,0,0,0-1.2Z" transform="translate(47.22 -35.53) rotate(90)"></path></svg>
                            <select v-model="form.control_map">
                                <option value="0"></option>
                                <option value="1">MAP_1</option>
                                <option value="2">MAP_2</option>
                                <option value="3">MAP_3</option>
                                <option value="4">MAP_4</option>
                                <option value="5">MAP_5</option>
                                <option value="6">MAP_6</option>
                                <option value="7">MAP_7</option>
                                <option value="8">MAP_8</option>
                                <option value="9">MAP_9</option>
                            </select>
                        </div>
                    </div>
                    <div class="input" v-bind:class="{ valid: form.hybrid_map != 0 }" >
                        <div class="name">HYBRID MAP</div>
                        <div class="select">
                            <svg viewBox="0 0 33 16" height="13.5"><path d="M51.4,31.4,37,17.1a.82.82,0,1,0-1.3,1l7,11.4L44.072,32,42.8,34.5l-7,11.4a.82.82,0,0,0,1.3,1L51.4,32.6a.8.8,0,0,0,0-1.2Z" transform="translate(47.22 -35.53) rotate(90)"></path></svg>
                            <select v-model="form.hybrid_map">
                                <option value="0"></option>
                                <option value="1">MAP_1</option>
                                <option value="2">MAP_2</option>
                                <option value="3">MAP_3</option>
                                <option value="4">MAP_4</option>
                                <option value="5">MAP_5</option>
                                <option value="6">MAP_6</option>
                                <option value="7">MAP_7</option>
                                <option value="8">MAP_8</option>
                                <option value="9">MAP_9</option>
                            </select>
                        </div>
                    </div>
                    <div class="input" v-bind:class="{ valid: form.assault_map != 0 }" >
                        <div class="name">ASSAULT MAP</div>
                        <div class="select">
                            <svg viewBox="0 0 33 16" height="13.5"><path d="M51.4,31.4,37,17.1a.82.82,0,1,0-1.3,1l7,11.4L44.072,32,42.8,34.5l-7,11.4a.82.82,0,0,0,1.3,1L51.4,32.6a.8.8,0,0,0,0-1.2Z" transform="translate(47.22 -35.53) rotate(90)"></path></svg>
                            <select v-model="form.assault_map">
                                <option value="0"></option>
                                <option value="1">MAP_1</option>
                                <option value="2">MAP_2</option>
                                <option value="3">MAP_3</option>
                                <option value="4">MAP_4</option>
                                <option value="5">MAP_5</option>
                                <option value="6">MAP_6</option>
                                <option value="7">MAP_7</option>
                                <option value="8">MAP_8</option>
                                <option value="9">MAP_9</option>
                            </select>
                        </div>
                    </div>
                    <div class="input" v-bind:class="{ valid: form.escort_map != 0 }" >
                        <div class="name">ESCORT MAP</div>
                        <div class="select">
                            <svg viewBox="0 0 33 16" height="13.5"><path d="M51.4,31.4,37,17.1a.82.82,0,1,0-1.3,1l7,11.4L44.072,32,42.8,34.5l-7,11.4a.82.82,0,0,0,1.3,1L51.4,32.6a.8.8,0,0,0,0-1.2Z" transform="translate(47.22 -35.53) rotate(90)"></path></svg>
                            <select v-model="form.escort_map">
                                <option value="0"></option>
                                <option value="1">MAP_1</option>
                                <option value="2">MAP_2</option>
                                <option value="3">MAP_3</option>
                                <option value="4">MAP_4</option>
                                <option value="5">MAP_5</option>
                                <option value="6">MAP_6</option>
                                <option value="7">MAP_7</option>
                                <option value="8">MAP_8</option>
                                <option value="9">MAP_9</option>
                            </select>
                        </div>
                    </div>
                    <button class="submit_btn" @click="submit">SEND</button>
                </div>
            </div>

        </div>

        <script src="./js/vue.min.js"></script>
        <script src="./js/jquery.min.js"></script>
        <script src="./js/socket.io.js"></script>
        <script src="./index.js"></script>

        <textarea id="clipboard" style="display: none;"></textarea>
    </body>
</html>