<!--
    Website made with ❤️
    by Mathieu Colmon
    https://usp-3.fr/cv
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <meta name="author" content="Mathieu Colmon (USP)"/>
        <meta name="description" content="Overwatch team"/>
        <meta name="keywords" content="Semi-Croustillants,semicroustillants,semi,croustillant,croustillants"/>
        
        <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
        <meta name="theme-color" content="#F3AD43">
        <meta name="msapplication-navbutton-color" content="#F3AD43">
        <meta name="apple-mobile-web-app-status-bar-style" content="#F3AD43">
        
        <title>Semi-Croustillants</title>

        <script>if (location.protocol == 'https:') location.href = 'http:' + window.location.href.substring(window.location.protocol.length);</script>

        <!-- <link rel="shortcut icon" href="./favicon.ico"> -->

        <link rel="stylesheet" href="./css/colors.css">
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="stylesheet" href="./css/loading.css">
        <link rel="stylesheet" href="./css/scrollbar.css">
        <link rel="stylesheet" href="./css/iziToast.min.css">
    
    </head>

    <body>
        <div class="loader"><img class="svg" src="./images/croustibot.svg"></div>

        <div class="body" style="display:none">

            <header id="header_vue">
                <p>SEMI-CROUSTILLANTS</p>
                <div class="right" @click="toggleMenu" v-if="connected">
                    <div class="username">Admin</div>
                    <svg viewBox="0 0 33 16"><path d="M51.4,31.4,37,17.1a.82.82,0,1,0-1.3,1l7,11.4L44.072,32,42.8,34.5l-7,11.4a.82.82,0,0,0,1.3,1L51.4,32.6a.8.8,0,0,0,0-1.2Z" transform="translate(47.22 -35.53) rotate(90)"></path></svg>
                    <div class="menu" style="display:none">
                        <li @click="admin">Admin</li>
                        <li @click="disconnect">Disconnect</li>
                    </div>
                </div>
            </header>

            <div>
                <div class="container_title">MEET THE SEMI-CROUSTILLANTS</div>
                <div id="profils_grid" class="profils_grid">
                    <div class="profil" v-for="profil in profils">
                        <div class="name">
                            <img class="svg" v-bind:src="'./images/' + profil.type + '.svg'" v-bind:alt="profil.type"/>
                            <p>
                                {{profil.name}}
                            </p>
                        </div>
                        <div class="social">
                            <img class="svg network" v-for="network in profil.social" v-bind:src="'./images/' + network.type + '.svg'" @click="openSocial(network)">
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="container_title">ASK FOR A SCRIM</div>
                <div id="ask_form" class="container two-col">
                    <div class="container_part">

                        <div class="paragraph">
                            <div class="title">Renseignez le formulaire, pour soumettre votre demande de scrim</div>
                            <div class="text">
                                Le calendrier des disponibilités vous aide dans le choix de sélection d’une date de scrim. Cependant, vous êtes libres de proposer n’importe quelle date. Une fois la demande soumise, vous serez recontacté par un manager, qui vous informera de l’acception ou du refus de votre demande.
                            </div>
                        </div>

                        <div class="title">{{calendar.month}} {{calendar.year}}</div>
                        <ul class="calendar">
                            <li class="title">Mon</li>
                            <li class="title">Tue</li>
                            <li class="title">Wed</li>
                            <li class="title">Thu</li>
                            <li class="title">Fri</li>
                            <li class="title">Sat</li>
                            <li class="title">Sun</li>
                            <li class="day" v-for="day in calendar.days" v-bind:class="{
                                impossible: day.impossible,
                                today: day.today,
                                outofmonth: day.outofmonth,
                                prefer: day.prefer,
                                event: day.event
                            }">
                                <template v-if='!day.event'>{{day.date}}</template>
                                <template v-else>
                                    <div>{{day.event.time}}</div>
                                    <div>{{day.event.team | short}}</div>
                                </template>
                            </li>
                        </ul>
                    </div>
                    <div class="right_form">
                        <div class="input required" v-bind:class="{ error: (form.error && !validDiscordID(form.discordID)), success: (form.error && validDiscordID(form.discordID)) }">
                            <div class="name">DISCORD ID<span class="required">*</span></div>
                            <input type="text" v-model="form.discordID" placeholder="ex: Beck#2309">
                        </div>
                        <div class="input required" v-bind:class="{ error: (form.error && form.team_name.length < 3), success: (form.error && form.team_name.length >= 3) }">
                            <div class="name">TEAM NAME<span class="required">*</span></div>
                            <input type="text" v-model="form.team_name" placeholder="ex: Les très croustillants">
                        </div>
                        <div class="input small required" v-bind:class="{ error: (form.error && !form.dateValid), success: (form.error && form.dateValid) }">
                            <div class="name">DATE<span class="required">*</span></div>
                            <input type="date" v-model="form.date" v-bind:value="form.date | date" v-bind:min="calendar.min | date" @change="validRequestDate">
                        </div>
                        <div class="input small" v-bind:class="{ valid: form.time != '' }">
                            <div class="name">TIME</div>
                            <input type="time" v-model="form.time">
                        </div>
                        <div class="input" v-bind:class="{ valid: form.control_map != 0 }">
                            <div class="name">CONTROL MAP</div>
                            <div class="select">
                                <svg viewBox="0 0 33 16" height="13.5"><path d="M51.4,31.4,37,17.1a.82.82,0,1,0-1.3,1l7,11.4L44.072,32,42.8,34.5l-7,11.4a.82.82,0,0,0,1.3,1L51.4,32.6a.8.8,0,0,0,0-1.2Z" transform="translate(47.22 -35.53) rotate(90)"></path></svg>
                                <select v-model="form.control_map">
                                    <option value="none"></option>
                                    <option v-for="(mapName, UID) in maps.control" v-bind:value="UID">{{mapName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="input" v-bind:class="{ valid: form.hybrid_map != 0 }">
                            <div class="name">HYBRID MAP</div>
                            <div class="select">
                                <svg viewBox="0 0 33 16" height="13.5"><path d="M51.4,31.4,37,17.1a.82.82,0,1,0-1.3,1l7,11.4L44.072,32,42.8,34.5l-7,11.4a.82.82,0,0,0,1.3,1L51.4,32.6a.8.8,0,0,0,0-1.2Z" transform="translate(47.22 -35.53) rotate(90)"></path></svg>
                                <select v-model="form.hybrid_map">
                                    <option value="none"></option>
                                    <option v-for="(mapName, UID) in maps.hybrid" v-bind:value="UID">{{mapName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="input" v-bind:class="{ valid: form.assault_map != 0 }">
                            <div class="name">ASSAULT MAP</div>
                            <div class="select">
                                <svg viewBox="0 0 33 16" height="13.5"><path d="M51.4,31.4,37,17.1a.82.82,0,1,0-1.3,1l7,11.4L44.072,32,42.8,34.5l-7,11.4a.82.82,0,0,0,1.3,1L51.4,32.6a.8.8,0,0,0,0-1.2Z" transform="translate(47.22 -35.53) rotate(90)"></path></svg>
                                <select v-model="form.assault_map">
                                    <option value="none"></option>
                                    <option v-for="(mapName, UID) in maps.assault" v-bind:value="UID">{{mapName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="input" v-bind:class="{ valid: form.escort_map != 0 }">
                            <div class="name">ESCORT MAP</div>
                            <div class="select">
                                <svg viewBox="0 0 33 16" height="13.5"><path d="M51.4,31.4,37,17.1a.82.82,0,1,0-1.3,1l7,11.4L44.072,32,42.8,34.5l-7,11.4a.82.82,0,0,0,1.3,1L51.4,32.6a.8.8,0,0,0,0-1.2Z" transform="translate(47.22 -35.53) rotate(90)"></path></svg>
                                <select v-model="form.escort_map">
                                    <option value="none"></option>
                                    <option v-for="(mapName, UID) in maps.escort" v-bind:value="UID">{{mapName}}</option>
                                </select>
                            </div>
                        </div>
                        <button class="submit_btn" @click="submit">SEND</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="./js/vue.min.js"></script>
        <script src="./js/jquery.min.js"></script>
        <script src="./js/socket.io.js"></script>
        <script src="./index.js"></script>
        <script src="./js/iziToast.min.js"></script>

        <textarea id="clipboard" style="display: none;"></textarea>
    </body>
</html>